<html>

<head></head>
<body>
  <div id="app">
    <div>https://{{ ip }}:8800</div>
    <div>
      <select v-model="source" style="width: 100%;">
        <option v-for="source in sources" :value="source" :key="source.id">{{ source.name }}</option>
      </select>
    </div>
    <video style="width: 100%; height: 100%; object-fit: contain;"></video>
  </div>
</body>

<script>
'use strict'

const { networkInterfaces } = require('os')
const { desktopCapturer } = require('electron')
const Vue = require('vue')

const app = {
  data() {
    return {
      ip: '',
      ws: null,
      peerConnection: null,
      sources: [],
      source: null,
      sender: null,
      video: null
    }
  },
  mounted() {
    const nets = networkInterfaces()
    const results = []

    for (const name of Object.keys(nets)) {
        for (const net of nets[name]) {
            // Skip over non-IPv4 and internal (i.e. 127.0.0.1) addresses
            if (net.family === 'IPv4' && !net.internal) {
                results.push(net.address);
            }
        }
    }

    console.log(results)
    this.ip = results[0]


    this.ws = new WebSocket(`wss://${this.ip}:8801`)

    this.ws.addEventListener('open', (event) => {
      console.log('ws: open')
    })

    this.ws.addEventListener('close', () => {

    })

    this.ws.addEventListener('message', (event) => {
      console.log('receive offer')
      const msg = JSON.parse(event.data)
      this.peerConnection.setRemoteDescription(msg)
      .then(() => {
        this.peerConnection.createAnswer()
        .then((sessionDescription) => {
          return this.peerConnection.setLocalDescription(sessionDescription)
        })
        .then(() => {
          console.log('setLocalDescription() OK')
        }).catch(function(err) {
          console.error(err);
        })
      })
    })


    desktopCapturer.getSources({ types: ['window', 'screen'] }).then(async (sources) => {
      this.sources = sources
      console.log(this.sources)
    })

    this.video = document.querySelector('video')
    this.video.onloadedmetadata = (e) => this.video.play()
  },
  unmounted() {
    ws.close()
  },
  watch:{
    async source() {
      try {
        const stream = await navigator.mediaDevices.getUserMedia({
          audio: false,
          video: {
            mandatory: {
              chromeMediaSource: 'desktop',
              chromeMediaSourceId: this.source.id,
              minWidth: 1280,
              maxWidth: 1920,
              minHeight: 720,
              maxHeight: 1080
            }
          }
        })
        this.handleStream(stream)
      } catch (e) {
        this.handleError(e)
      }
    }
  },
  methods: {
    handleStream(stream) {
      if (this.peerConnection === null) {
        const pcConfig = { iceServers: [] }
        this.peerConnection = new RTCPeerConnection(pcConfig)
        this.peerConnection.onicecandidate = (event) => {
          if (event.candidate) {
            // console.log(event.candidate)
          } else {
            console.log('send answer')
            this.ws.send(JSON.stringify(this.peerConnection.localDescription))
          }
        }
      }

      this.video.srcObject = stream

      if (this.sender) {
        this.sender.replaceTrack(stream.getTracks()[0], stream)
      } else {
        this.sender = this.peerConnection.addTrack(stream.getTracks()[0], stream)
      }
    },
    handleError(e) {
      console.log(e)
    }
  },
}

Vue.createApp(app).mount('#app')
</script>

</html>